@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.categories-container {
    position: relative;
    top: 200px;
    width: 1500px;
    height: 490px;
    margin: 0 auto; 
    
}

.categories-container h1 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.categories img {
   
    height: 240px;
    margin-top: 60px;
    width: 280px;
    height: 280px;
}

.categories span {
    display: block;
    text-align: center; 
    margin-top: 10px;
}

.categories ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.categories ul li {
    text-align: center;
    margin-right: -20px; 
}

li {
    display: inline-block;
    text-align: center; 
    font-size: 30px;
    font-family: "Inter", sans-serif;
}
