@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.container-product4{
    position: relative;
    top: 130px;
    width: 1500px;
    height: 460px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 20px;
    
 
    
}

.h4 h1 {
    position: relative;
    padding-top: 210px;
    font-size: 40px;
    width: 1500px;
    height: 40px;
    font-family: "Questrial", sans-serif;
    margin: 0 auto;
   
}

.titulo-h1 h1 {
    position: relative;
    padding-top: 140px;
    font-size: 40px;
    width: 1500px;
    height: 40px;
    font-family: "Questrial", sans-serif;
    margin: 0 auto;
   
}


.item4 img {
    width: 100%;
    
     
}


.item4{
    display: grid;
    grid-template-columns: 6,1fr;
    gap: 20px;
    margin-top: 0x;

}

.item4 h2{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "Questrial", sans-serif;
    color: rgb(65, 93, 140);
}

.container-product4 .item4{
    
    border: 2px solid rgb(176, 196, 222);
    padding: 20px;
    height: 450px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

 .item4 .price4{
    margin-top: 1px;
    letter-spacing: 5px;
    text-align: center;
    
}

.collection-button4  {
    background-color: rgb(65, 93, 140);
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    height: 40px;
}

.collection-button4:hover {
    background-color: rgb(85, 113, 160);
}
