
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.header {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgb(120, 140, 170);
    background-color: rgb(176, 196, 222); 

}

.header-container {
    position: relative;
    width: 1500px;
    margin: 0 auto;
    height: 100px;
    
    text-align: center;
    
}

.router-links {
    position: absolute;
    display: flex;
    top: 35px;
    margin-left: 550px;
    font-family: 'Acme', sans-serif;
    gap: 50px;

}

.router-links a {
    font-size: 30px;
    color: black; 
    text-decoration: none;
    
}

.router-links a:hover{
    color: white;
    
}

.logo-img {
    position: absolute;
    left: 0;
    top: -80px;
    
    width: 270px; 
    height: 270px; 
     
}

.img-user{
    position: absolute;
    margin-left: 1450px;
    margin-top: 27px;
    
}

.img-cart{
    position: absolute;
    margin-left: 1410px;
    margin-top: 27px;
    
}

.header-container form{
    position: absolute;
    margin-left: 1080px;
    margin-top: 27px;
    
}

.header-container input {
    height: 40px;
    width: 270px;
    border: 2px solid rgb(158, 184, 220);
    border-radius: 10px 0 0 10px; 
    margin-right: -1px; 
    padding-left: 10px;
    font-family: 'Acme', sans-serif; 
}

.header-container button {
    height: 40px;
    border-color: rgb(176, 196, 222);
    background-color: rgb(222, 234, 249);;
    border-radius: 0 10px 10px 0; 
}


