.container {
    position: relative;
    width: 1100px;
    height: 700px;
    top: 180px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 270px;
  }
  
  .register {
    width: 100%; 
    height: 100%;
  }
  
  .register h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .form-group {  
    display: flex;   
    flex-direction: column; 
    align-items: center;   
    margin-bottom: 30px;
  }
  
  label {
    font-size: 30px;
    margin-bottom: 10px; 
    
    
    
  }
  
  .form-group input {
    width: 70%;
    height: 50px;
    border-radius: 40px;
    padding: 0 10px; 
    
  }
  
  .button-register {
    margin-top: 40px;
    width: 40%;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    background-color: #568dd9; 
    color: white;          
    border: none;          
    cursor: pointer;       
  }
  
  .button-register:hover { 
    background-color: #6296df;
  }
  
  .login-link {
    font-size: 25px;
    margin-top: 20px;
  }
  