@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.slider {
    position: relative;
    top: 200px;
    width: 1500px;
    height: 500px;
    margin: 0 auto; 
    border: 1px solid rgb(120, 140, 170);
    overflow: hidden; 
}

.slides {
    width: 4500px; 
    height: 500px;
    display: flex;
    transition: transform 1s ease; 
}

/* Slide 1*/

.slide-one {
    width: 1500px;
    height: 500px;
    background: linear-gradient(to right, rgb(120, 140, 170), rgb(150, 170, 200), rgb(176, 196, 222), rgb(200, 210, 230), rgb(220, 230, 240), rgb(230, 235, 242), rgb(235, 238, 244));
  
}

.slide-one h1{
    margin-top: -450px;
    margin-left: 100px;
    font-size: 150px;
    font-family: "Questrial", sans-serif;
    color: rgb(65, 93, 140);
}

.slide-one h2{
    margin-top: -15px;
    margin-left: 150px;
    font-size: 100px;
    color:white ;
    font-family: "Questrial", sans-serif;
}

.slide-one h3{
    margin-top: 20px;
    margin-left: 230px;
    font-size: 60px;
    font-family: "Lobster", sans-serif;
    color:rgb(120, 140, 170);
}

.slide-one img{
   margin-left: 200px;
   pointer-events: none
}

.lastslide{
    position: absolute;
    top:-40px ;
    left: 650px;
    width: 500px;
    pointer-events: none
}



