.container-footer{
    width: 100%;
    height: 600px;
    background-color: rgb(176, 196, 222); 

}

.footer{
    position: relative;
    width: 1500px;
    height: 400px;
    margin: 0 auto;
    
}

.footer img {
    width: 270px; 
    height: 270px; 
    display: block; 
    margin: 0 auto ; 
}

.icons {
    display: flex;
    justify-content: center; 
}

.icons img {
    height: 40px;
    width: 40px;
    margin: -50px 5px; 
}

.footer-links {
    position: absolute;
    display: flex;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Acme', sans-serif;
    gap: 30px;
}

.footer-links a {
    font-size: 30px;
    color: black; 
    text-decoration: none;
    
}

.footer-links a:hover{
    text-decoration:underline ;
    
}

.linha-horizontal {
    border: none; 
    border-top: 1px solid black; 
    width: 100%; 
    margin: 110px 0; 
}
