
.modal-content {
    position: fixed;
    display: grid;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%; 
    padding: 10px;
    border-radius: 5px;
    inset: 0 0 0 auto;
    grid-template-rows: 70px 1fr 70px;
    background-color: rgb(163, 183, 217);
    border: 2px solid rgb(96, 115, 147); 
    z-index: 2000;
}

.modal-content h1{
    margin-top: 1px;
    color: black;
    text-align: center;
    font-size: 50px;
    
}

.btn-cart {
    display: flex;
    gap: 10px;
}

.btn-cart button {
    width: 100%;
    height: 50px;
    background-color: rgb(90, 140, 227);
    border: 1px solid white; /* Adicionando a borda aqui */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
}

.btn-cart .close{
    background-color: rgb(150, 182, 238);
    color: white;
}




.modal-content .listCart .item img{
  width: 100%;
  

}

.modal .listCart{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-top: -650px;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
}




