@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.box-container {
    position: relative;
    top: 130px;
    width: 1500px;
    height: 450px;
    margin: 0 auto; 
    border: 1px solid rgb(120, 140, 170);
    background: linear-gradient(to right, rgb(120, 140, 170), rgb(150, 170, 200), rgb(176, 196, 222), rgb(200, 210, 230), rgb(220, 230, 240), rgb(230, 235, 242), rgb(235, 238, 244));

  }

  .box-container h1{
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 35px;
    animation: blink 1s infinite;
    color:  rgb(65, 93, 140);
    font-family: "Questrial", sans-serif;

  }
  
  .box-container h2{
    position: absolute;
    top: 170px;
    left: 60px;
    font-size: 25px;
    color: white;
    font-family: "Questrial", sans-serif;

  }

  .box-container H3 {
    position: absolute;
    top: 240px;
    left: 60px;
    font-size: 20px;
    color: white;
    font-family: "Questrial", sans-serif;
  }

  

  .box-container button{
    position: absolute;
    top: 340px;
    left: 60px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: #E0E0E0;
    animation: blink 1s infinite;
    font-family: "Questrial", sans-serif;
    background-color: rgb(65, 93, 140) ;
    border-radius: 20px;

  }

  .box-container button:hover {
    background-color: rgb(95, 123, 170);
    
  }

  .box{
    position: relative;
    width: 200px;
    height: 300px;
    margin-left: 910px;
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
    
  }
  
  
  @keyframes animate {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(250deg);
    }
  }
  
  .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(400px);
    
  }
  
  .box span img {
    position: absolute;
    top: 70px;
    left: 0;
    width: 150px;
    height: 250px;
    transition: 0.5s;
    border-radius: 10px;
    border: 4px double rgb(120, 140, 170);
  }
  
  img:hover {
    transform: translateY(-2px);
  }
  