@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.container-product3 {
    position: relative;
    top: 130px;
    width: 1500px;
    height: 460px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    
}

.h3 h1 {
    position: relative;
    padding-top: 280px;
    font-size: 40px;
    width: 1500px;
    height: 40px;
    font-family: "Questrial", sans-serif;
    margin: 0 auto;
}

.item3 img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
    transition: transform 0.3s;
}

.item3 img:hover {
    transform: scale(1);
}

.item3 {
    display: grid;
    grid-template-columns: 6,1fr;
    gap: 20px;
    margin-top: 0px;
}

.item3 h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "Questrial", sans-serif;
    color: rgb(65, 93, 140);
}

.container-product3 .item3 {
    background-color: rgb(176, 196, 222);
    border: 2px solid white;
    padding: 20px;
    height: 450px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.item3 .price {
    margin-top: 1px;
    letter-spacing: 5px;
    text-align: center;
}

.item3 button {
    background-color: rgb(65, 93, 140);
    color: white;
    border: 1px solid white;
    font-size: 17px;
    border-radius: 20px;
    height: 40px;
}

.item3 button:hover {
    background-color: rgb(85, 113, 160);
}
